@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

.todo-bg-container{
    background-color: #d8e7fd;
    height: auto;
}

.todos-heading{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 46px;
    margin: 20px 0px;
}

.creat-task-heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.create-task-heading-subpart{
    font-weight: 500;
}

.todo-user-input{
    background-color: #ffffff;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #535353;
    border-radius: 7px;
    margin-top: 10px;
    padding: 15px;
}

.button{
    background-color: #4c63b6;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border-width: 0;
    margin: 20px 0px 40px;
    padding: 5px 20px;
}

.todo-item-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.todo-item-heading-subpart{
    font-weight: 500;
}

.todo-item-container{
    margin-top: 15px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin: 12px 12px 0px 0px;
}

.label-container{
    width: 100%;
    background-color: #e6f6ff;
    border-radius: 4px;
    border-style: solid;
    border-width: 0px 0px 0px 6px;
    border-color: #096f92;
}

.checkbox-label{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    margin: 0px;
    padding: 10px 20px;
    border-radius: 5px;
}

#delete-icon {
    margin: 10px 3%;

}

.checked{
    text-decoration: line-through;
}